
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}

<div id="content" class="bg-container">
    <header class="head">
        <div class="main-bar">
            <div class="row no-gutters">
                <div class="col-6">
                    <h4 class="m-t-5">
                        <i class="fa fa-home"></i>
                        Home
                    </h4>
                </div>
            </div>
        </div>
    </header>
    <div>
        <img src="~/assets/img/anhgheadmin1.jpg" alt="background" style="width:100%;height:85vh;object-fit: cover;">
    </div>
  
</div>


