@using blackWood.Models;
@model List<LoaiSp>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
</link>
<style>
    .link__loai
    {
        font-size: 16px;
    }
        .link__loai:hover {
            color: #ff8429;
        }
        .link__loai::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f105";
            margin-right: 10px;
        }
</style>

@foreach (var item in Model)
{
         
    <div>
        <a href="@Url.Action("SPTheoLoai" , "Shop" , new {@MaLoai=item.MaLoai})" class="link__loai">@item.TenLoai </a>

    </div>
   

}


